.naglowek > th {
  text-align: center;
}
.dane > td {
  text-align: center;
}
.ikonyAkcje {
  display: flex;
  gap: 10px;
}
.ikonaEdycjaPracownika {
  color: #4218c1;
}
.ikonaUsunieciePracowika {
  color: #cf0000;
}
