.menu-icon {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 20px;
  position: relative;
}

.bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #91cbb1;
  margin: 6px 0;
  transition: transform 0.3s ease-in-out;
}
