<div class="container">
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Kod weryfikacyjny</ng-template>
        <input
          type="text"
          id="kod"
          formControlName="kodWeryfikacyjny"
          required
        />
        <button (click)="checkVerCode()">Dalej</button>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Dane logowania</ng-template>
        <label for="login">Login:</label>
        <input type="text" id="login" formControlName="login" required />

        <label for="password">Hasło:</label>
        <input type="password" id="haslo" formControlName="haslo" required />
        <button matStepperPrevious>Wróć</button>
        <button (click)="zarejestruj()">Zarejestruj sie</button>

        <!--<button
          type="submit"
          [disabled]="registerCMS.invalid"
          (click)="zarejestruj()"
        >
          Zarejestruj
        </button>-->
      </form>
    </mat-step>
  </mat-stepper>
</div>
