$wielkoscCheckboxZapamietaj: 15px;

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #f0eff4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #33d185;
  border: 3px solid #919191;
  border-radius: 60px;
  gap: 25px;
  padding: 1.5% 1%;
}
.napisLogowanie {
  font-size: 36px;
  font-weight: 500;
  cursor: default;
}
.cmsLogowanieFormularz {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.cmsLogin,
.cmsHaslo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cmsLoginOznaczenie {
  text-align: center;
  font-size: 26px;
}
.cmsLoginPole {
  border: 1px solid #000000;
  border-radius: 60px;
  height: 42px;
  width: 230px;
  font-size: 20px;
  padding: 0 15px;
}
.przełącznikZapamietaj {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  input[type="checkbox"] {
    display: none;

    & + label {
      position: relative;
      padding-left: 25px;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: $wielkoscCheckboxZapamietaj;
        height: $wielkoscCheckboxZapamietaj;
        border: 1px solid #000;
        border-radius: 30%;
        background-color: #fff;
      }
      /*&::after {
        content: "\2714";
        position: absolute;
        left: 3px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: transparent;
      }*/
      /*&:hover::before {
        border-color: #666;
      }*/
    }
    &:checked + label::before {
      background-image: url("../../../assets/icons/check_sprite.png");
      background-repeat: no-repeat;
      background-position: -1px -1px;
      background-size: 18px;
      background-color: #afe5ce;
    }
    /*&:checked + label::after {
      color: #5b5b5b;
    }*/
  }
}
.cmsPrzyciskZaloguj {
  border: 1px solid #000000;
  border-radius: 60px;
  height: 42px;
  width: 150px;
  font-size: 20px;
  padding: 0 15px;
  cursor: pointer;
  background-color: #5b5b5b;
  color: #ffffff;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.cmsPrzyciskZaloguj:hover {
  background-color: #afe5ce;
  color: #000000;
}
