<div class="container">
  <div class="main">
    <div class="napisLogowanie">Logowanie</div>
    <form [formGroup]="logowanieCMS">
      <div class="cmsLogowanieFormularz">
        <div class="cmsLogin">
          <label for="login" class="cmsLoginOznaczenie">Login</label
          ><input
            type="text"
            class="cmsLoginPole"
            name="login"
            formControlName="login"
          />
        </div>
        <div class="cmsHaslo">
          <label for="haslo" class="cmsLoginOznaczenie">Hasło</label>
          <input
            type="password"
            class="cmsLoginPole"
            name="haslo"
            formControlName="haslo"
          />
        </div>
        <div class="przełącznikNieWylogowuj">
          <label for="nieWylogowuj">Nie wylogowuj mnie</label>
          <!-- Dodać komunikat po najechaniu, że po 30 dniach nastąpi wylogowanie -->
          <input
            type="checkbox"
            name="nieWylogowuj"
            formControlName="nieWylogowuj"
          />
        </div>
        <button class="cmsPrzyciskZaloguj" (click)="zaloguj()">
          Zaloguj się
        </button>
      </div>
    </form>
  </div>
</div>
