<div
  class="container"
  [ngStyle]="{
      'grid-template-columns': menuState === 'open' ? '272px auto' : '',
    }"
>
  <div class="header">
    <h1>CMS</h1>
    <div class="zdjProfilowe">
      <app-menu-konta></app-menu-konta>
    </div>
  </div>
  <div class="sideMenu">
    <div
      class="listaSideMenu"
      [ngStyle]="{'margin': menuState === 'open' ? '0.5% 0 0 -2.9%' : '',}"
    >
      <div
        class="hamburgerMenu"
        (click)="toggleMenu()"
        [ngStyle]="{'margin-left': menuState === 'open' ? '11%' : '',}"
      >
        <div class="menu-icon">
          <span class="bar" [@menuAnimation]="menuState"></span>
          <span class="bar" [@menuAnimation]="menuState"></span>
          <span class="bar" [@menuAnimation]="menuState"></span>
        </div>
        <p
          class="tekstHamburgerMenu"
          [ngStyle]="{
            display: menuState === 'open' ? 'block' : '',}"
        >
          Zwiń
        </p>
      </div>
      <div
        class="elementyListySideMenu"
        (click)="navigateToCMS()"
        [ngClass]="{
          podswietlenieAktywnosc: podswietlenieSM.activeAktywnosc
        }"
        [ngStyle]="{'width': menuState === 'open' ? '93%' : '',}"
      >
        <span class="material-symbols-outlined ikonySM"> history </span>
        <p
          class="tekstSM"
          [ngStyle]="{'display': menuState === 'open' ? 'block' : '',}"
        >
          Aktywność
        </p>
      </div>
      <div class="elementyListySideMenu">
        <span class="material-symbols-outlined ikonySM"> contract_edit </span>
        <p
          class="tekstSM"
          [ngStyle]="{'display': menuState === 'open' ? 'block' : '',}"
        >
          Edytor
        </p>
      </div>
      <div
        class="elementyListySideMenu artykuly"
        (click)="toggleMenuArtykuly()"
        [ngStyle]="{'width': menuState === 'open' ? '91%' : '',}"
      >
        <span class="material-symbols-outlined ikonySM"> newsmode </span>
        <p
          class="tekstSM"
          [ngStyle]="{'display': menuState === 'open' ? 'block' : '',}"
        >
          Artykuły
        </p>
        <span
          class="material-symbols-outlined ikonySM strzalkaArtykuly"
          [@obrotStrzalki]="isMenuArtykulyOpen ? 'open' : 'closed'"
        >
          expand_more
        </span>
        <div class="menuArtykuly" *ngIf="isMenuArtykulyOpen" [@otwieranieMenu]>
          <dl class="listaArtykuly">
            <dt
              class="elementyArtykuly"
              *ngIf="isMenuArtykulyOpen"
              [@otwieranieMenu]
            >
              <span class="material-symbols-outlined ikonyArtykuly">
                clinical_notes
              </span>
              <p
                class="tekstMenuArtykuly"
                [ngStyle]="{'display': menuState === 'open' ? 'block' : '',}"
              >
                Moje
              </p>
            </dt>
            <dt
              class="elementyArtykuly opublikowane"
              *ngIf="isMenuArtykulyOpen"
              [@otwieranieMenu]
            >
              <span class="material-symbols-outlined ikonyArtykuly">
                full_coverage
              </span>
              <p
                class="tekstMenuArtykuly"
                [ngStyle]="{'display': menuState === 'open' ? 'block' : '',}"
              >
                Opublikowane
              </p>
            </dt>
            <dt
              class="elementyArtykuly"
              *ngIf="isMenuArtykulyOpen"
              [@otwieranieMenu]
            >
              <span class="material-symbols-outlined ikonyArtykuly">
                schedule_send
              </span>
              <p
                class="tekstMenuArtykuly"
                [ngStyle]="{'display': menuState === 'open' ? 'block' : '',}"
              >
                Nieopublikowane
              </p>
            </dt>
          </dl>
        </div>
      </div>
      <div
        class="elementyListySideMenu"
        [ngStyle]="{'width': menuState === 'open' ? '100%' : '',}"
      >
        <span class="material-symbols-outlined ikonySM"> groups </span>
        <p
          class="tekstSM"
          [ngStyle]="{'display': menuState === 'open' ? 'block' : '',}"
        >
          Użytkownicy
        </p>
      </div>
      <div
        class="elementyListySideMenu"
        [ngStyle]="{'width': menuState === 'open' ? '100%' : '',}"
      >
        <span class="material-symbols-outlined ikonySM"> badge </span>
        <p
          class="tekstSM"
          [ngStyle]="{'display': menuState === 'open' ? 'block' : '',}"
        >
          Pracownicy
        </p>
      </div>
    </div>
    <div class="wylogowanie">
      <div class="linia">
        <hr />
      </div>
      <div
        class="przyciskWyloguj"
        [ngStyle]="{'padding': menuState === 'open' ? '0' : '',}"
      >
        <span class="material-symbols-outlined ikonaWylogowanie"> logout </span>
        <p
          class="wylogujTekst"
          [ngStyle]="{'display': menuState === 'open' ? 'block' : '',}"
        >
          WYLOGUJ
        </p>
      </div>
    </div>
  </div>
  <div class="main"><router-outlet></router-outlet></div>
</div>
