$kolorTla: #5c997b;
$marginesIkon: 6px;

.menuRozwijane {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
}
.zdjecieProfilowe {
  position: relative;
  z-index: 2;
}
.menuTrigger {
  cursor: pointer;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.menuKonta {
  position: absolute;
  background-color: $kolorTla;
  padding: 0;
  justify-content: flex-start;
  z-index: 1;
  width: 300%;
  height: 120%;
  margin-left: -190%;
  margin-top: -10%;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
}
.daneOsobowe {
  color: #ffffff;
  font-size: 25px;
  margin: 4% 0 0 7%;
}
.daneOsobowe:hover {
  color: black;
}
.listaMenuKonta {
  height: 50%;
  width: 50%;
  margin: auto 0 6% 7%;
}
.menu-list.active {
  display: block;
}
.elementyMenuKonta {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  border-radius: 10px;
  margin: 2% 0;
  padding: 3% 0 3% 10%;
  position: relative;
  width: 100%;
}
.elementyMenuKonta:hover {
  background-color: #0f0f0f30;
  cursor: pointer;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.linkiMenuKonta {
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}
.ikonyM,
.tekstMenuKonta {
  color: #ffffff;
}
.ikonyM {
  font-size: 24px;
  margin-right: $marginesIkon;
}
.tekstMenuKonta {
  font-size: 20px;
  margin: auto 0 auto $marginesIkon;
}
.linia {
  border-top-color: #ffffff;
}

@media only screen and (min-width: 2100px) and (max-width: 2700px) {
  .menuKonta {
    margin-top: -21%;
    height: 141%;
  }
  .daneOsobowe {
    font-size: 31px;
    margin-top: 8%;
  }
  .ikonyM {
    font-size: 30px;
  }
  .tekstMenuKonta {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1699px) {
  .menuKonta {
    margin: -1% 0 0 -195%;
    width: 311%;
    height: 100%;
  }
  .daneOsobowe {
    font-size: 23px;
  }
  .ikonyM {
    font-size: 22px;
  }
  .tekstMenuKonta {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1399px) {
  .menuKonta {
    margin: -25% 0 0 -203%;
    width: 318%;
    height: 148%;
  }
  .daneOsobowe {
    margin-top: 7%;
  }
}
@media only screen and (max-width: 480px) {
  .menuKonta {
    margin: -21% 0 0 -213%;
    width: 323%;
    height: 139%;
  }
  .daneOsobowe {
    font-size: 19px;
    margin: 6% 0 0 8%;
  }
  .ikonyM {
    font-size: 18px;
  }
  .tekstMenuKonta {
    font-size: 14px;
  }
}
